<!DOCTYPE html>
<html lang="en">
<head>
<title>demo</title>
<link rel="stylesheet" type="text/css" href="CSS.css"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="/resources/demos/style.css"/>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
        $("#float").click(function(){
            $( "#ram" ).show().dialog({
                dialogClass:"farve",
                close: function( event, ui ) { $( "#ram" ).hide(); }
            });
        });
    } );
    $( function() {
        $("#float2").click(function(){
            $( "#Motherboard" ).show().dialog({
                dialogClass:"farve",
                close: function( event, ui ) { $( "#Motherboard" ).hide(); }
            });
        });
    } );
    $( function() {
        $("#float3").click(function(){
            $( "#CPU" ).show().dialog({
                dialogClass:"farve",
                close: function( event, ui ) { $( "#CPU" ).hide(); }
            });
        });
    } );
    $( function() {
        $("#float4").click(function(){
            $( "#Storage" ).show().dialog({
                dialogClass:"farve",
                close: function( event, ui ) { $( "#Storage" ).hide(); }
            });
        });
    } );
    $( function() {
        $("#float5").click(function(){
            $( "#GPU" ).show().dialog({
                dialogClass:"farve",
                close: function( event, ui ) { $( "#GPU" ).hide(); }
            });
        });
    } );

</script>

</head>
<body>
<h1>Computer Parts</h1>
<img id="float" src="https://4.imimg.com/data4/LM/GP/MY-11966446/ram-500x500.jpg" />
<div id="ram" title="PC Ram" style="display:none">
    <p>Random-access memory (RAM /ræm/) is a form of computer data storage that stores data and machine code currently being used.
        A random-access memory device allows data items to be read or written
        in almost the same amount of time irrespective of the physical location of data inside the memory. </p>
    </div>
<img id="float2" src="https://images10.newegg.com/productimage/13-130-918-09.jpg" />
<div id="Motherboard" title="PC Motherboard" style="display:none">
    <p>A motherboard is the main printed circuit board (PCB)
        found in general purpose microcomputers and other expandable systems.
        It holds and allows communication between many of the crucial electronic components of a system,
        such as the central processing unit (CPU) and memory, and provides connectors for other peripherals. </p>
</div>
<img id="float3" src="https://des.gbtcdn.com/uploads/pdm-desc-pic/Electronic/image/2016/02/02/1454374290515972.jpg" />
<div id="CPU" title="PC CPU" style="display:none">
    <p>A central processing unit (CPU) is the electronic circuitry within a computer that carries out the instructions of a computer program
        by performing the basic arithmetic, logical, control and input/output (I/O) operations specified by the instructions.
        The computer industry has used the term "central processing unit" at least since the early 1960s.
        Traditionally, the term "CPU" refers to a processor, more specifically to its processing unit and control unit (CU),
        distinguishing these core elements of a computer from external components such as main memory and I/O circuitry.</p>
</div>
<img id="float4" src="https://images-na.ssl-images-amazon.com/images/I/81SYu2aMXRL._SL1500_.jpg" />
<div id="Storage" title="Storage Unit" style="display:none">
    <p>A hard disk drive (HDD), hard disk, hard drive or fixed disk is a data storage device that uses magnetic storage
        to store and retrieve digital information using one or more rigid rapidly rotating disks (platters) coated with magnetic material.
        The platters are paired with magnetic heads, usually arranged on a moving actuator arm,
        which read and write data to the platter surfaces.[2] Data is accessed in a random-access manner,
        meaning that individual blocks of data can be stored or retrieved in any order and not only sequentially.</p>
</div>
<img id="float5" src="https://techfrag.com/wp-content/uploads/2016/07/NVIDIA-GeForce-GTX-1060-GP106-GPU-Detailed.jpg" />
<div id="GPU" title="PC GPU" style="display:none">
    <p>A graphics processing unit (GPU) is a specialized electronic circuit designed to rapidly manipulate and alter
        accelerate the creation of images in a frame buffer intended for output to a display device.</p>
</div>
<p id="hej">This website is designed with the goal of teaching people what a certain PC Component is and its function.</p>
</body>
</html>